### A physician is evaluating a new diet for her patients with a family history of heart disease. To test the effectiveness of this diet, 16 patients are placed on the diet for 6 months. Their weights and triglyceride levels are measured before and after the study, and the physician wants to know if either set of measurements has changed. (Data set: dietstudy.csv)

In [1]:
import numpy as np

import pandas as pd

import matplotlib.pyplot as plt

import scipy.stats as stats

%matplotlib inline

In [2]:
diet = pd.read_csv('dietstudy.csv')

diet.head()

   patid  age  gender  tg0  tg1  tg2  tg3  tg4  wgt0  wgt1  wgt2  wgt3  wgt4
0      1   45    Male  180  148  106  113  100   198   196   193   188   192
1      2   56    Male  139   94  119   75   92   237   233   232   228   225
2      3   50    Male  152  185   86  149  118   233   231   229   228   226
3      4   46  Female  112  145  136  149   82   179   181   177   174   172
4      5   64    Male  156  104  157   79   97   219   217   215   213   214

In [3]:
diet.shape

(16, 13)

## Two Sample T-Test (Paired)

In [5]:
print("The triglyceride levels of patients were {}".format(diet.tg0.mean()))
print("The final triglyceride levels of patients are {}".format(diet.tg4.mean()))
print("The weights of pateints were {}".format(diet.wgt0.mean()))
print("The final weights of pateints are {}".format(diet.wgt4.mean()))

The triglyceride levels of patients were 138.4375
The final triglyceride levels of patients are 124.375
The weights of pateints were 198.375
The final weights of pateints are 190.3125

# 1. The Mean gives the difference between the averages of the two samples for each pair. 
Therefore, in case of (Triglyceride & Final Triglyceride), the difference in means of the two sample sets(triglyceride levels after the diet period of 6 months) is 14.06.
Therefore, across all 16 patients triglyceride levels dropped on average after 6 months of new diet

#2. In case of (Weight & Final Weight), the difference in means of the two sample sets(weights after the diet period of 6 months) is 8.062.
Therefore, across all 16 patients weights dropped on average after 6 months of new diet about 8 pounds.

#### Stage 1

#### H0:  levels of Triglycerides of individual before diet == levels of Triglycerides of individual after diet 

#### H1:  levels of Triglycerides of individual before diet != levels of Triglycerides of individual after diet

In [6]:
stage1_trig = stats.ttest_rel(a=diet.tg0,b=diet.tg4) 

#a =triglyceride levels before diet
#b = triglyceride levels after diet)

In [7]:
stage1_trig.pvalue

0.24874946576903698

In [8]:
stage1_trig.pvalue>0.05

True

#### Stage 2

#### H0:  weights of individual before diet == weights of individual after diet 

#### H1:  weights of individual before diet != weights of individual after diet

In [10]:
stage2_weight = stats.ttest_rel(a=diet.wgt0,b=diet.wgt4) 

#a = weights before diet
#b = weights after diet

In [11]:
stage2_weight.pvalue

1.137689414996614e-08

In [12]:
stage2_weight.pvalue>0.05

False

# Conclusions

1. Since the significance value for change in weight is less than 0.05,we can conclude that the average loss of 8.06 pounds per patient is not due to chance variation, and can be attributed to the diet.

2. However, the significance value greater than 0.05 for change in triglyceride level shows the diet did not significantly reduce their triglyceride levels.