### Missing Values and Deleting Data points



### Step 1. Import the necessary libraries numpy, pandas etc

In [1]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset *wine.txt* from this [address](https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data) or from the folder

In [2]:
wine = pd.read_table("https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data",sep=",",header=None)

/Users/mayur/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: read_table is deprecated, use read_csv instead.
  """Entry point for launching an IPython kernel.

### Step 3. Assign it to a variable called wine

Please note that the original data text file doesn't contain any header. Please ensure that when you import the data, you should use a suitable argument so as to avoid data getting imported as header.

In [24]:
wine.head()

,alcohol,malic_acid,alacinity_of_ash,magnesium,flavanoids,proanthocyanis,hue
0,0.002238,1.71,15.6,127.0,3.06,2.29,1.04
1,0.002238,1.78,11.2,100.0,2.76,1.28,1.05
2,0.002238,2.36,18.6,101.0,3.24,2.81,1.03
3,14.370000,1.95,16.8,NaN,3.49,2.18,0.86
4,13.240000,2.59,21.0,NaN,2.69,1.82,1.04

### Step 4. Delete the first, fourth, seventh, nineth, eleventh, thirteenth and fourteenth columns

In [4]:
wine.drop([0,3,6,8,10,12,13], axis = 1,inplace=True)

### Step 5. Assign the columns as below:

The attributes are (dontated by Riccardo Leardi, riclea '@' anchem.unige.it):  
1) alcohol  
2) malic_acid  
3) alcalinity_of_ash  
4) magnesium  
5) flavanoids  
6) proanthocyanins  
7) hue

In [5]:
wine.columns = ['alcohol','malic_acid','alacinity_of_ash','magnesium','flavanoids','proanthocyanis','hue']
wine.head()

,alcohol,malic_acid,alacinity_of_ash,magnesium,flavanoids,proanthocyanis,hue
0,14.23,1.71,15.6,127,3.06,2.29,1.04
1,13.20,1.78,11.2,100,2.76,1.28,1.05
2,13.16,2.36,18.6,101,3.24,2.81,1.03
3,14.37,1.95,16.8,113,3.49,2.18,0.86
4,13.24,2.59,21.0,118,2.69,1.82,1.04

### Step 6. Set the values of the first 3 values from alcohol column as NaN

In [6]:
wine.alcohol.iloc[:3] = np.nan
wine.head()

/Users/mayur/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:190: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

,alcohol,malic_acid,alacinity_of_ash,magnesium,flavanoids,proanthocyanis,hue
0,NaN,1.71,15.6,127,3.06,2.29,1.04
1,NaN,1.78,11.2,100,2.76,1.28,1.05
2,NaN,2.36,18.6,101,3.24,2.81,1.03
3,14.37,1.95,16.8,113,3.49,2.18,0.86
4,13.24,2.59,21.0,118,2.69,1.82,1.04

### Step 7. Now set the value of the rows 3 and 4 of magnesium as NaN

In [7]:
wine.magnesium.iloc[3:5] = np.nan
wine.head()

,alcohol,malic_acid,alacinity_of_ash,magnesium,flavanoids,proanthocyanis,hue
0,NaN,1.71,15.6,127.0,3.06,2.29,1.04
1,NaN,1.78,11.2,100.0,2.76,1.28,1.05
2,NaN,2.36,18.6,101.0,3.24,2.81,1.03
3,14.37,1.95,16.8,NaN,3.49,2.18,0.86
4,13.24,2.59,21.0,NaN,2.69,1.82,1.04

### Step 8. Fill the value of NaN with the number 10 in alcohol and 100 in magnesium

In [12]:
wine['magnesium'].replace(np.nan,100)
wine['alcohol'].replace(np.nan,10)
wine.head()

,alcohol,malic_acid,alacinity_of_ash,magnesium,flavanoids,proanthocyanis,hue
0,0.002238,1.71,15.6,127.0,3.06,2.29,1.04
1,0.002238,1.78,11.2,100.0,2.76,1.28,1.05
2,0.002238,2.36,18.6,101.0,3.24,2.81,1.03
3,14.370000,1.95,16.8,NaN,3.49,2.18,0.86
4,13.240000,2.59,21.0,NaN,2.69,1.82,1.04

### Step 9. Count the number of missing values in all columns.

In [9]:
count = len(wine) - wine.count()
count

alcohol             3
malic_acid          0
alacinity_of_ash    0
magnesium           2
flavanoids          0
proanthocyanis      0
hue                 0
dtype: int64

### Step 10.  Create an array of 10 random numbers up until 10 and save it.

In [10]:
randnum = np.random.uniform(1,10,size=10)
randnum

array([5.55631978, 2.92367389, 4.61726711, 9.22981614, 7.78358911,
       8.77212044, 2.45915249, 9.46317421, 6.92164767, 4.52663867])

### Step 11.  Set the rows corresponding to the random numbers to NaN in the column *alcohol*

In [11]:
import random
wine.alcohol.fillna(random.random(),inplace=True)
wine.head()

,alcohol,malic_acid,alacinity_of_ash,magnesium,flavanoids,proanthocyanis,hue
0,0.002238,1.71,15.6,127.0,3.06,2.29,1.04
1,0.002238,1.78,11.2,100.0,2.76,1.28,1.05
2,0.002238,2.36,18.6,101.0,3.24,2.81,1.03
3,14.370000,1.95,16.8,NaN,3.49,2.18,0.86
4,13.240000,2.59,21.0,NaN,2.69,1.82,1.04

### Step 12.  How many missing values do we have now?

In [13]:
count = len(wine) - wine.count()
count

alcohol             0
malic_acid          0
alacinity_of_ash    0
magnesium           2
flavanoids          0
proanthocyanis      0
hue                 0
dtype: int64

### Step 14. Print only the non-null values in alcohol

In [18]:
wine[wine.alcohol.notnull()]
print(wine['alcohol'])

0       0.002238
1       0.002238
2       0.002238
3      14.370000
4      13.240000
5      14.200000
6      14.390000
7      14.060000
8      14.830000
9      13.860000
10     14.100000
11     14.120000
12     13.750000
13     14.750000
14     14.380000
15     13.630000
16     14.300000
17     13.830000
18     14.190000
19     13.640000
20     14.060000
21     12.930000
22     13.710000
23     12.850000
24     13.500000
25     13.050000
26     13.390000
27     13.300000
28     13.870000
29     14.020000
         ...
148    13.320000
149    13.080000
150    13.500000
151    12.790000
152    13.110000
153    13.230000
154    12.580000
155    13.170000
156    13.840000
157    12.450000
158    14.340000
159    13.480000
160    12.360000
161    13.690000
162    12.850000
163    12.960000
164    13.780000
165    13.730000
166    13.450000
167    12.820000
168    13.580000
169    13.400000
170    12.200000
171    12.770000
172    14.160000
173    13.710000
174    13.400000
175    13.270000
176    13.170000
177    14.130000
Name: alcohol, Length: 178, dtype: float64

### Step 13. Delete the rows that contain missing values

In [22]:
wine.dropna()

,alcohol,malic_acid,alacinity_of_ash,magnesium,flavanoids,proanthocyanis,hue
0,0.002238,1.71,15.6,127.0,3.06,2.29,1.04
1,0.002238,1.78,11.2,100.0,2.76,1.28,1.05
2,0.002238,2.36,18.6,101.0,3.24,2.81,1.03
5,14.200000,1.76,15.2,112.0,3.39,1.97,1.05
6,14.390000,1.87,14.6,96.0,2.52,1.98,1.02
7,14.060000,2.15,17.6,121.0,2.51,1.25,1.06
8,14.830000,1.64,14.0,97.0,2.98,1.98,1.08
9,13.860000,1.35,16.0,98.0,3.15,1.85,1.01
10,14.100000,2.16,18.0,105.0,3.32,2.38,1.25
11,14.120000,1.48,16.8,95.0,2.43,1.57,1.17
12,13.750000,1.73,16.0,89.0,2.76,1.81,1.15
13,14.750000,1.73,11.4,91.0,3.69,2.81,1.25
14,14.380000,1.87,12.0,102.0,3.64,2.96,1.20
15,13.630000,1.81,17.2,112.0,2.91,1.46,1.28
16,14.300000,1.92,20.0,120.0,3.14,1.97,1.07
17,13.830000,1.57,20.0,115.0,3.40,1.72,1.13
18,14.190000,1.59,16.5,108.0,3.93,1.86,1.23
19,13.640000,3.10,15.2,116.0,3.03,1.66,0.96
20,14.060000,1.63,16.0,126.0,3.17,2.10,1.09
21,12.930000,3.80,18.6,102.0,2.41,1.98,1.03
22,13.710000,1.86,16.6,101.0,2.88,1.69,1.11
23,12.850000,1.60,17.8,95.0,2.37,1.46,1.09
24,13.500000,1.81,20.0,96.0,2.61,1.66,1.12
25,13.050000,2.05,25.0,124.0,2.68,1.92,1.13
26,13.390000,1.77,16.1,93.0,2.94,1.45,0.92
27,13.300000,1.72,17.0,94.0,2.19,1.35,1.02
28,13.870000,1.90,19.4,107.0,2.97,1.76,1.25
29,14.020000,1.68,16.0,96.0,2.33,1.98,1.04
30,13.730000,1.50,22.5,101.0,3.25,2.38,1.19
31,13.580000,1.66,19.1,106.0,3.19,1.95,1.09
...,...,...,...,...,...,...,...
148,13.320000,3.24,21.5,92.0,0.76,1.25,0.55
149,13.080000,3.90,21.5,113.0,1.39,1.14,0.57
150,13.500000,3.12,24.0,123.0,1.57,1.25,0.59
151,12.790000,2.67,22.0,112.0,1.36,1.26,0.48
152,13.110000,1.90,25.5,116.0,1.28,1.56,0.61
153,13.230000,3.30,18.5,98.0,0.83,1.87,0.56
154,12.580000,1.29,20.0,103.0,0.58,1.40,0.58
155,13.170000,5.19,22.0,93.0,0.63,1.55,0.60
156,13.840000,4.12,19.5,89.0,0.83,1.56,0.57
157,12.450000,3.03,27.0,97.0,0.58,1.14,0.67
158,14.340000,1.68,25.0,98.0,1.31,2.70,0.57
159,13.480000,1.67,22.5,89.0,1.10,2.29,0.57
160,12.360000,3.83,21.0,88.0,0.92,1.04,0.56
161,13.690000,3.26,20.0,107.0,0.56,0.80,0.96
162,12.850000,3.27,22.0,106.0,0.60,0.96,0.87
163,12.960000,3.45,18.5,106.0,0.70,0.94,0.68
164,13.780000,2.76,22.0,90.0,0.68,1.03,0.70
165,13.730000,4.36,22.5,88.0,0.47,1.15,0.78
166,13.450000,3.70,23.0,111.0,0.92,1.46,0.85
167,12.820000,3.37,19.5,88.0,0.66,0.97,0.72
168,13.580000,2.58,24.5,105.0,0.84,1.54,0.74
169,13.400000,4.60,25.0,112.0,0.96,1.11,0.67
170,12.200000,3.03,19.0,96.0,0.49,0.73,0.66
171,12.770000,2.39,19.5,86.0,0.51,0.64,0.57
172,14.160000,2.51,20.0,91.0,0.70,1.24,0.62
173,13.710000,5.65,20.5,95.0,0.61,1.06,0.64
174,13.400000,3.91,23.0,102.0,0.75,1.41,0.70
175,13.270000,4.28,20.0,120.0,0.69,1.35,0.59
176,13.170000,2.59,20.0,120.0,0.68,1.46,0.60
177,14.130000,4.10,24.5,96.0,0.76,1.35,0.61

### Step 15.  Reset the index, so it starts with 0 again

In [25]:
wine = wine.reset_index(drop=True)

In [26]:
wine

,alcohol,malic_acid,alacinity_of_ash,magnesium,flavanoids,proanthocyanis,hue
0,0.002238,1.71,15.6,127.0,3.06,2.29,1.04
1,0.002238,1.78,11.2,100.0,2.76,1.28,1.05
2,0.002238,2.36,18.6,101.0,3.24,2.81,1.03
3,14.370000,1.95,16.8,NaN,3.49,2.18,0.86
4,13.240000,2.59,21.0,NaN,2.69,1.82,1.04
5,14.200000,1.76,15.2,112.0,3.39,1.97,1.05
6,14.390000,1.87,14.6,96.0,2.52,1.98,1.02
7,14.060000,2.15,17.6,121.0,2.51,1.25,1.06
8,14.830000,1.64,14.0,97.0,2.98,1.98,1.08
9,13.860000,1.35,16.0,98.0,3.15,1.85,1.01
10,14.100000,2.16,18.0,105.0,3.32,2.38,1.25
11,14.120000,1.48,16.8,95.0,2.43,1.57,1.17
12,13.750000,1.73,16.0,89.0,2.76,1.81,1.15
13,14.750000,1.73,11.4,91.0,3.69,2.81,1.25
14,14.380000,1.87,12.0,102.0,3.64,2.96,1.20
15,13.630000,1.81,17.2,112.0,2.91,1.46,1.28
16,14.300000,1.92,20.0,120.0,3.14,1.97,1.07
17,13.830000,1.57,20.0,115.0,3.40,1.72,1.13
18,14.190000,1.59,16.5,108.0,3.93,1.86,1.23
19,13.640000,3.10,15.2,116.0,3.03,1.66,0.96
20,14.060000,1.63,16.0,126.0,3.17,2.10,1.09
21,12.930000,3.80,18.6,102.0,2.41,1.98,1.03
22,13.710000,1.86,16.6,101.0,2.88,1.69,1.11
23,12.850000,1.60,17.8,95.0,2.37,1.46,1.09
24,13.500000,1.81,20.0,96.0,2.61,1.66,1.12
25,13.050000,2.05,25.0,124.0,2.68,1.92,1.13
26,13.390000,1.77,16.1,93.0,2.94,1.45,0.92
27,13.300000,1.72,17.0,94.0,2.19,1.35,1.02
28,13.870000,1.90,19.4,107.0,2.97,1.76,1.25
29,14.020000,1.68,16.0,96.0,2.33,1.98,1.04
...,...,...,...,...,...,...,...
148,13.320000,3.24,21.5,92.0,0.76,1.25,0.55
149,13.080000,3.90,21.5,113.0,1.39,1.14,0.57
150,13.500000,3.12,24.0,123.0,1.57,1.25,0.59
151,12.790000,2.67,22.0,112.0,1.36,1.26,0.48
152,13.110000,1.90,25.5,116.0,1.28,1.56,0.61
153,13.230000,3.30,18.5,98.0,0.83,1.87,0.56
154,12.580000,1.29,20.0,103.0,0.58,1.40,0.58
155,13.170000,5.19,22.0,93.0,0.63,1.55,0.60
156,13.840000,4.12,19.5,89.0,0.83,1.56,0.57
157,12.450000,3.03,27.0,97.0,0.58,1.14,0.67
158,14.340000,1.68,25.0,98.0,1.31,2.70,0.57
159,13.480000,1.67,22.5,89.0,1.10,2.29,0.57
160,12.360000,3.83,21.0,88.0,0.92,1.04,0.56
161,13.690000,3.26,20.0,107.0,0.56,0.80,0.96
162,12.850000,3.27,22.0,106.0,0.60,0.96,0.87
163,12.960000,3.45,18.5,106.0,0.70,0.94,0.68
164,13.780000,2.76,22.0,90.0,0.68,1.03,0.70
165,13.730000,4.36,22.5,88.0,0.47,1.15,0.78
166,13.450000,3.70,23.0,111.0,0.92,1.46,0.85
167,12.820000,3.37,19.5,88.0,0.66,0.97,0.72
168,13.580000,2.58,24.5,105.0,0.84,1.54,0.74
169,13.400000,4.60,25.0,112.0,0.96,1.11,0.67
170,12.200000,3.03,19.0,96.0,0.49,0.73,0.66
171,12.770000,2.39,19.5,86.0,0.51,0.64,0.57
172,14.160000,2.51,20.0,91.0,0.70,1.24,0.62
173,13.710000,5.65,20.5,95.0,0.61,1.06,0.64
174,13.400000,3.91,23.0,102.0,0.75,1.41,0.70
175,13.270000,4.28,20.0,120.0,0.69,1.35,0.59
176,13.170000,2.59,20.0,120.0,0.68,1.46,0.60
177,14.130000,4.10,24.5,96.0,0.76,1.35,0.61